API_TOKEN=123456789:QWERTYUIOPASDFGHJKLZXCVVBNM<1234567
WEBHOOK_HOST=localhost
WEBHOOK_PATH=/path/to/api
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD=post_bot
POSTGRES_USER=post_bot
POSTGRES_DB=post_bot